/* 푸터 */
footer {
	background-color: #fff; 
	padding: 0; 
	position: relative;
	padding-bottom: 85px;
}
footer a:hover, footer a:focus {
	opacity: 1;
}
.login_b_page footer {
	padding-bottom: 0;
	margin-top: -20px;
}
.footer_component {
	max-width: 1284px; 
	margin: 0 auto; 
	padding: 0; 
	font-size: 0; 
	position: relative;
}
.links_left {
	width: 100%;
	background-color: #333; 
	padding: 22px 16px;
}
.links_left ul {
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	padding-bottom: 5px;
}
.links_left ul li {
	padding-right: 25px;
}
.links_left ul li:last-child {
	padding-right: 0;
}
.links_left ul li a {
	font-family:"LG_text"; 
	font-size: 13px; 
	line-height: 24px; 
	color: #fff; 
	font-style: normal; 
	font-weight: 400; 
	display: inline-block; 
	position: relative;
	letter-spacing: -0.03rem;
}
.footer_component .copyright {
	font-family:"LG_text"; 
	margin-top: 10px; 
	font-size: 14px; 
	line-height: 20px; 
	color: #b2b2b2; 
	font-style: normal; 
	font-weight: 400;
}
.footer_component .copyright p {
	font-family:"LG_text"; 
	font-size: 13px; 
	line-height: 20px;
}
.footer_info {
	margin-top: 8px;
}
.copyright a {
	font-family:"LG_text"; 
	font-size: 13px; 
	line-height: 20px; 
	display: inline-block; 
	text-decoration: underline; 
	margin-top: 5px; 
	line-height: 20px; 
	color: #b2b2b2;
}
#footer_copy03 a {
	text-decoration: none;
}
#footer_link03 {
	display: block;
}
.link_left .footer_info a {
	color: #b2b2b2; 
	text-decoration: underline;
}
.links_right {
	position: relative; 
	background-color: #fff;
	width: 100%; 
	left: 0; 
	padding: 0; 
	margin-top: 0;
}
.links_right a {
	display: block; 
	vertical-align: middle; 
	width: 100%; 
	padding-top: 9px; 
	height: 78px; 
	padding: 9px 24px 0px;
}
#footer_jd {
	font-family:"LG_text"; 
	font-size: 14px; 
	line-height: 19px; 
	color: #333; 
	font-style: normal; 
	font-weight: 400; 
	text-transform: none; 
	display: block; 
	height: auto;
	min-height: 58px; 
	width: 100%; 
	border-radius: 3px; 
	padding: 18px 24px 18px 80px; 
	word-break: normal; 
	background: #fff url('../image/common/icon-vn02.png') 0 0 no-repeat; 
	border-top: 1px solid #E4E4E4; 
	margin-left: 0; 
	background-position: 14px center;
}
#footer_jd img {
	width: auto;
}
#footer_jd:hover {
	text-decoration: underline;
}
#footer_jd::after {
	content: ''; 
	display: inline-block;
	width: 12px; 
	height: 12px; 
	background: url('../image/common/footer_jd_arrow.svg') 0 1px no-repeat; 
	margin-left: 3px;
}
.policy_wrap {
	word-break: break-all;
    word-wrap: break-word;
}