@charset "UTF-8";
/* APPLICATION 
------------------------------------------------------------------------*/
/* page */
.login_a_page .container {
  background: url("../image/00_login/kv_gate_2.png");
  background-size: 100%;
}

.top_title h1 {
  font-family: "LG_head";
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  line-height: 28px; /* 100% */
}
.top_title img {
  display: block;
}

.img_login_kv {
  display: block;
  position: absolute;
  top: 23.5%;
  left: 50%;
  transform: translateX(-50%);
}

.bottom_content {
  margin-top: auto;
}

.sns_login_a {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sns_login_a li a {
  display: flex;
  width: 100%;
  padding: 8px 16px;
  align-items: center;
  border-radius: 24px;
  gap: 10px;
}
.sns_login_a li a.sns_facebook {
  background-color: #0B84EE;
}
.sns_login_a li a.sns_facebook .txt {
  color: #fff;
}
.sns_login_a li a.sns_google {
  background-color: #fff;
}
.sns_login_a li a.sns_google .txt {
  color: #000;
}
.sns_login_a li a.sns_apple {
  background-color: #000;
}
.sns_login_a li a.sns_apple .txt {
  color: #fff;
}
.sns_login_a li a.sns_amazon {
  background-color: #fff;
}
.sns_login_a li a.sns_amazon .txt {
  color: #000;
}
.sns_login_a li a img {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.sns_login_a li a span.line {
  display: inline-block;
  width: 1px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.1);
}
.sns_login_a li a span.txt {
  color: #000000;
  font-family: "LG_head";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  width: 100%;
  text-align: center;
}

.link_wrap {
  padding: 40px 0;
  text-align: center;
}

.line_link {
  color: #000000;
  font-family: "LG_head";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  text-decoration: underline;
}
.line_link:hover {
  text-decoration: underline;
}

/*
팝업
*/
.popup_wrap {
  display: none;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.pop_content {
  position: relative;
}

.survey_pop {
  transform: none;
  top: 0;
  left: 0;
  position: fixed;
}
.survey_pop .pop_content {
  background-color: #F0ECE4;
  height: 100%;
}

.btn_pop_close {
  position: absolute;
  top: 16px;
  right: 16px;
  background-image: url("../image/common/btn_cancel.svg");
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

/* 개인정보정책 */
.policy_wrap {
  display: block;
  position: relative;
  height: calc(100% - 144px);
  overflow-y: scroll;
  background-color: #E6E1D6;
  margin-top: 20px;
  padding: 16px;
  border-radius: 10px;
}
.policy_wrap p {
  color: #000000;
  font-family: "LG_text";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

/* 관심사 선택 */
.pop_h100 {
  height: 100%;
}

.survey_radios {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  margin-top: 20px;
}

.survey_radio {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: table;
  width: 100%;
}
.survey_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  display: inline-block;
}
.survey_radio input:checked {
  position: absolute;
  top: 0px;
  left: 0px;
}

.survey_radio input:checked ~ .survey_radio_txt {
  color: #fff;
  background: #FD312E;
}

.survey_radio_txt {
  display: table-cell;
  width: 100%;
  height: 100%;
  padding: 16px;
  color: #000000;
  text-align: center;
  font-family: "LG_head";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  background-color: #fff;
  color: #000000;
  border-radius: 10px;
}

.pop_bottom_btns {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}

.chk_circle {
  background-image: url("../image/common/btn_check_disable.svg");
}

.chk_circle.active {
  background-image: url("../image/common/btn_check.svg");
}

.btn_back {
  position: absolute;
  bottom: 40px;
  left: 16px;
  color: #000000;
  font-family: "LG_head";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 100% */
}
.btn_back::before {
  content: "";
  background-image: url("../image/common/icn_arr_back_s.svg");
  display: inline-block;
  position: relative;
  top: 1px;
  width: 6px;
  height: 10px;
  margin-right: 4px;
}

.survey_result_floor {
  padding-top: 24px;
}

/*
info
공간안내
*/
.info_section {
  margin-top: -40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.info_section .info_top_wrap h2 {
  color: #000000;
  font-family: "LG_head";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  padding-bottom: 10px;
}
.info_section .info_top_wrap p {
  color: #000000;
  font-family: "LG_text";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
}

.info_time_wrap {
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  border-radius: 10px;
  background-color: #E6E1D6;
}
.info_time_wrap .info_time_title h3 {
  color: #000000;
  font-family: "LG_text";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}
.info_time_wrap .info_time_title h3:after {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  width: 1px;
  height: 14px;
  background-color: #000000;
  margin-left: 10px;
}
.info_time_wrap .info_time_list {
  padding-left: 12px;
}
.info_time_wrap .info_time_list li {
  color: #000000;
  font-family: "LG_text";
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  text-align: left;
}

.info_sns_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info_sns_wrap h3 {
  color: #000000;
  font-family: "LG_text";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}
.info_sns_wrap .info_sns_list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 auto;
}

.info_floor_sec {
  padding-top: 40px;
}
.info_floor_sec .info_floor_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}
.info_floor_sec .info_floor_title h3 {
  color: #000000;
  font-family: "LG_text";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  line-height: 16px;
}
.info_floor_sec .floor h4 {
  color: #000000;
  font-family: "LG_text";
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
  color: #716F6A;
  text-align: left;
  padding-bottom: 10px;
}

/* 슬라이드 카드형 콘텐츠 */
.slide {
  border-radius: 10px;
}
.slide .slide_img {
  width: 100%;
  height: 240px;
  background-size: cover;
  border-radius: 10px 10px 0 0;
}
.slide .slide_link {
  display: block;
  width: calc(100% - 32px);
  padding: 10px 16px;
  position: absolute;
  bottom: 16px;
  left: 16px;
  text-align: center;
  border: 1px solid #F6F3EB;
  color: #F6F3EB;
  text-align: center;
  font-family: LG EI Headline;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 50px;
}
.slide .slide_cont {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  border-radius: 0 0 10px 10px;
  height: calc(100% - 240px);
  background-color: #fff;
}
.slide .slide_cont h5 {
  color: #000000;
  text-align: center;
  font-family: "LG_text";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}
.slide .slide_cont h6 {
  color: #716F6A;
  text-align: center;
  font-family: "LG_text";
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
  margin-top: 4px;
}
.slide .slide_cont p {
  margin-top: 10px;
  color: #000000;
  text-align: center;
  font-family: "LG_text";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.floor_slide {
  margin-bottom: 32px;
}
.floor_slide .slide_cont {
  background-color: #E6E1D6;
}
.floor_slide .slick-slide {
  width: calc(100vw - 28px);
  max-width: 452px;
  margin-right: 10px;
}
.floor_slide .slick-dots {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #E6E1D6;
  height: 2px;
  bottom: -10px;
  width: calc(100vw - 32px);
  max-width: 452px;
  left: 50%;
  transform: translateX(-50%);
}
.floor_slide .slick-dots li {
  margin: unset;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 2px;
  transition: background-color 0.3s ease;
}
.floor_slide .slick-dots li.slick-active {
  background-color: #262626;
}/*# sourceMappingURL=style.css.map */