/*
adm_table_wrap style
*/
/* table_top */
.adm_table_wrap {
	position: relative;
}
.adm_table_top {
	display: flex;
	width: 100%;
    justify-content: space-between;
	padding: 20px;
	.table_total {
		color: $txt-main-b1;
		font-size: 20px;
		font-weight: 500;
		line-height: 32px; /* 160% */
	}
}
.adm_table_cont {
	width: 100%;
	padding: 0 20px 20px 20px;
	overflow-x: auto;
	overflow-x: auto;
    margin-bottom: 59px;
    height: 37vh;
    height: calc(100dvh - 575px);
	table {
		width: 100%;
		overflow-x: visible;
	}
}
.adm_table_bottom {
	display: block;
    width: 100%;
    position: absolute;
	left:0;
    bottom: 0;
    background: white;
    border-radius: 0 0 8px 8px;
	text-align: right; 
	font-size: 0;
	padding: 10px 40px;
	border-top: 1px solid $line_b;
}
/* 테이블 세로 높이 다른 경우 */
.no_sch {
	.left {
		gap: 20px;
	}
	.adm_table_cont {
		height: 76vh;
		height: calc(100dvh - 305px);
	}
}
.date_sch {
	.adm_table_cont {
		height: 69vh;
		height: calc(100dvh - 395px);
	}
}
.plus_sch {
	.adm_table_cont {
		height: 30vh;
		height: calc(100dvh - 645px);
	}
}
.survey_q {padding-top: 20px;}
.survey_q_title {
	color: #262626;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
	padding-bottom: 20px;
}
.adm_table_cont_survey_t {
	margin-bottom: 0;
	height: auto;
}
.adm_table_cont_survey_t .adm_table_top {
	padding-left: 0;
	padding-right: 0;
}
.adm_table_cont_survey_t .scrollbar {
	overflow-x: auto;
	overflow-x: auto;
	padding-bottom: 10px;
}
table.adm_table tr th.round_tlr0,
table.adm_table tr td.round_tlr0 {
	border-top-left-radius: 0;
}
table.adm_table tr th.round_trr0,
table.adm_table tr td.round_trr0 {
	border-top-right-radius: 0;
}
table.adm_table tr th.round_blr0,
table.adm_table tr td.round_blr0 {
	border-bottom-left-radius: 0;
}
table.adm_table tr th.round_brr0,
table.adm_table tr td.round_brr0 {
	border-bottom-right-radius: 0;
}
table.adm_table tr td.line_l {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}
table.adm_table tr td.line_r {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
table.adm_table tr td.line_b {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
table.adm_table tr th.line_l {
	border-left: 1px solid rgba(0, 0, 0, 0.15);
}
table.adm_table tr th.line_r {
	border-right: 1px solid rgba(0, 0, 0, 0.15);
}
table.adm_table tr th.line_b {
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
table.adm_table tr th.line_t {
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
/* 
table.adm_table tr th.gray_bg.line_r {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
*/
table.adm_table tr th.line_b0,
table.adm_table tr td.line_b0 {
	border-bottom: 0;
} 
table.adm_table tr th.gray_bg,
table.adm_table tr td.gray_bg {
	background: #F4F4F4;
}
table.adm_table.survey_table tr th, table.adm_table.survey_table tr td {
	min-width: 100px;
}
table.adm_table.survey_table tr:first-child th:first-child {
	min-width: 255px;
}
table.adm_table.survey_table tr:last-child td {
	border-bottom: 0;
	background-color: #F4F4F4;
	border-top: 2px solid #f4f4f4;
}
.survey_q2 table.adm_table.survey_table tr:last-child td:first-child {
	border-radius: 0px;
}
.survey_q2 table.adm_table.survey_table tr:last-child td:last-child {
	border-radius: 0px;
	border-right: 0px solid rgba(0, 0, 0, 0.1);
}