/*
adm_sortable style
*/
.adm_sortable {
	display: flex;
	flex-direction: column;
	gap: 20px;
	.ui-state-default {
		cursor: pointer;
	}
	.ui-state-default::before {
		content: '';
		display: block;
		position: absolute;
		top:10px;
		left:10px;
		width: 16px;
		height: 16px;
		background-image: url('../image/icn_list-change.svg');
		z-index: 1;
	}
	.ui-sortable-helper .input_box {
		border: 1px solid $txt-main-b2;
		box-shadow: 0px 2px 20px gray;
	}
	.ui-state-highlight {
		color: $line_b;
		background-color: $line_b;
		border-color: $line_b;
	}
	.btn {
		margin-left: auto;
	}
}
/*
etc
*/
.about_floor {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.time_sch_wrap {
	display: flex;
	gap: 5px;
	align-items: center;
	select {
		background: #fff no-repeat;
		background-image: url('../image/icn_time.svg'), url('../image/icn_dropdown.svg');
		background-position: 16px center, 205px center;
		padding-left: 46px; /* 왼쪽 아이콘에 대한 여백 조정 */
		border: 1px solid $line_b;
		width: 240px;
		text-align: left;
		height: 50px;
		&:disabled {
			background-color: rgba(255, 255, 255, 0.40);
			background-image: url('../image/icn_time.svg');
			background-position: 16px center;
		}
	}
	option {
		padding: 0;
		text-align: left;
	}
}
.channel_box {
	width: 100%;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	.link_box {
		width: calc(100% - 280px);
		min-width: 200px;
		input {width: 100%; }
	}
	.chk {
		margin-right: 0;
		margin-left: 20px;
	}
}
.about_top {
	.flex_column {
		width: calc(100% - 160px);
		gap: 10px;
	}
}
.banner_section {
	ul {
		display: flex;
		flex-direction: column;
		gap: 40px;
	}
	.adm_sortable {
		gap: 40px;
	}
}
.adm_table_cont.adm_table_cont_obs {
	margin-bottom: 0;
	height: auto;
}
/* scroll_dim 
.scroll_dim {
	display: block;
    position: absolute;
    top: 0;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    right: 0;
    width: 10%;
    height: 100%;
}*/
/* 반응형 추가 조절 */
@media (max-width: 1620px) {
	input {
		font-size: 13px;
		width: 150px;
	}
	.adm_top_title {font-size: 19px; width: 70px;}
	.dash_graph_wrap .bg_w {width: calc(100% - 95px) !important;}
	.channel_row .adm_top_title {width: 50px;}
	.channel_row .chk_wrap {min-width: 515px;}
	.chkText {font-size: 14px;}
	.topsch_area > .flex_column {gap: 16px;}
	.age_row .flex_column {gap: 5px;}
	.age_row .flex_row {row-gap: 5px;}
	.adm_table_top .table_total {font-size: 18px;}
}