/*
팝업
*/
/* 전체, 설문 팝업 */
.popup_wrap {
	display: none;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index: 100;
}
.pop_content {
	position: relative;
}
.survey_pop {
	transform: none;
	top:0;
	left:0;
	position: fixed;
	.pop_content {
		background-color: $bg-beige-1;
		height: 100%;
	}
}
.btn_pop_close {
	position: absolute;
	top:16px;
	right:16px;
	background-image: url('../image/common/btn_cancel.svg');
	width: 24px;
	height: 24px;
	text-indent: -9999px;
}
/* 개인정보정책 */
.policy_wrap {
	display: block;
	position: relative;
	height: calc(100% - 144px);
    overflow-y: scroll;
	background-color: $bg-beige-2;
	margin-top: 20px;
	padding: 16px;
	border-radius: 10px;
	p {
		@include font-txt-m400;
	}
}
/* 관심사 선택 */
.pop_h100 {
	height: 100%;
}
.pop_bottom_btns {
	position: absolute;
	bottom: 40px;
	@include center_ab;
	text-align: center;
	color: $txt-sub-w1;
	p {
		@include font-txt-m400;
		color: $txt-sub-w1;
		margin-bottom: 40px;
	}
}
.btn_back {
	position: absolute;
	bottom: 40px;
	left: 16px;
	color: $txt-main-b1;
	font-family : "LG_head";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px; /* 100% */
	&::before {
		content: '';
		background-image: url('../image/common/icn_arr_back_s.svg');
		display: inline-block;
		position: relative;
		top:1px;
		width: 6px;
		height: 10px;
		margin-right: 4px;
	}
}
.survey_result_floor {
	padding-top: 24px;
}
/* 해시태그 팝업 */
.popupToast_wrap {
	position: fixed;
    bottom: 40px;
    left: 0;
    width: 100%;
    display: none;
	text-align: center;
    z-index: 999;
	.popupToast {
		display: inline-flex;
		flex-direction: column;
		padding: 10px 16px;
		border-radius: 100px;
		background: $blur_b;
		backdrop-filter: blur(12.5px);
		align-items: center;
		.popupToast_text {
			color: $txt-main-w1;
			text-align: center;
			font-family : "LG_head";
			font-size: 14px;
			font-weight: 700;
			line-height: 14px;
		}
	}
}
/* 블러팝업 */
.blur_pop {
	width: 100%;
	height: 100%;
	.pop_content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 10px;
		z-index: 2;
		h2 {
			@include font-txt-m700;
			color: $txt-sub-w1;
			text-align: center;
		}
		p {
			@include font-txt-m400;
			color: $txt-sub-w1;
			text-align: center;
		}
	}
}
.blur_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: $blur_b;
	backdrop-filter: blur(12.5px);
}
.close_circle {
	background-image: url('../image/common/btn_close.svg');
}
.ok_circle {
	background-image: url('../image/common/btn_check.svg');
}
.mission_clear {
	text-align: center;
	color: $LG-red-act;
	font-family : "LG_head";
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: 32px;
	display: flex;
    justify-content: center;
	img {
		display: inline-block;
		margin-right: 4px;
	}
}
.m02_color_list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	padding-top: 20px;
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
		width: 80px;
		figure {
			width: 64px;
			height: 64px;
			border-radius: 10px;
		}
	}
}
.blur_pop .pop_content .m02_color_list p {
	font-size: 14px;
	line-height: 20px;
	font-weight: 300;
}
.pink {
	background: #B88C92;
}
.cream {
	background: #DACAB2;
}
.midnight {
	background: #494949;
}
