.container {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	max-width: 480px;
	min-height: 640px;
	margin: 0 auto;
    overflow-x: hidden;
}
.gap {
	padding-left: 16px;
	padding-right: 16px;
}
.title_area {
	text-align: center;
	padding-top: 40px;
	h1 {
		color: $txt-main-b1;
		@include font-head-l;
	}
}