header {
	width: 100%;
	height: 40px;
	background-color: $white;
	border-bottom: 1px solid $line_b;
	h1 {
		padding: 4px;
		text-align: center;
	}
}
header.blank_bg {
	background-color: transparent;
	border-bottom: 0;
}
.btn_header_back {
	position: absolute;
	top: 12px;
	left: 16px;
	width: 16px;
	height: 16px;
	background-image: url('../image/common/icn_arr_back_m.svg');
	text-indent: -9999px;
}
.language {
	position: absolute;
	width: 80px;
	top:4px;
	right:16px;
	background: white;
	border-radius: 16px;
	z-index: 13;
	&:active, &:focus {
		height: auto;
	}
	li {
		list-style-type: none;
		padding: 6px 8px;
		display: none;
		a {
			display: block;
			width: 100%;
			color: $txt-main-b1;
			text-align: right;
			font-family : "LG_head";
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			padding-right: 16px;
		}
		&.current {
			&:after {
				content: '';
				background-image: url('../image/common/icn_dropdown.svg');
				display: block;
				position: absolute;
				width: 16px;
				height: 16px;
				top: 8px;
				right: 8px;
			}
		}
	}
	&:active li,li.current,&.active li {
		display: block;
	}
	&:active li.current:after {
		background-image: url('../image/common/icn_dropdown_on.svg');
	}
}