//헤더텍스트
@mixin font-head-l {
    color: $txt-main-b1;
	font-family : "LG_head";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 28px;
}
//
@mixin font-head-m400 {
	color: $txt-main-b1;
	font-family : "LG_head";
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
}
@mixin font-head-m700 {
	color: $txt-main-b1;
	font-family : "LG_head";
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
}
//
@mixin font-txt-m400 {
	color: $txt-main-b1;
	font-family: "LG_text";
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
}
@mixin font-txt-m700 {
	color: $txt-main-b1;
	font-family: "LG_text";
	font-size: 16px;
	font-weight: 700;
	font-style: normal;
	line-height: 24px;
}