// color ----------------------------------------------------
$LG-red: #A50034;
$LG-red-act: #FD312E;
$white : #fff;
// ----------------------------------------------------------
$txt-main-b1 : #000000;
$txt-main-b2 : #262626;
$txt-sub-b1 : #716F6A;
$txt-main-w1 : #F6F3EB;
$txt-sub-w1 : #FFFFFF;
$txt-sub-w2 : #F0ECE4;
$bg-beige-1 : #F0ECE4;
$bg-beige-2 : #E6E1D6;
// ----------------------------------------------------------
$blur_b : rgba(0,0,0,.6);
$blur_w : rgba(255,255,255,.3);
$line_b : rgba(0,0,0,.1);
$line_w :  rgba(255,255,255,.1);
// ----------------------------------------------------------

// size
$max-width : 375px;