/* input, textarea */
input {
	border-radius: 10px;
	border: 1px solid $line_b;
	background: $white;
	color: $txt-sub-b1;
	font-family: "LG_text";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px; 
}
textarea {
	border-radius: 10px;
	border: 1px solid $line_b;
	background: $white;
	color: $txt-sub-b1;
	font-family: "LG_text";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	padding: 16px;
}
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button,
input[type='password']::-webkit-outer-spin-button,
input[type='password']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
/*
체크박스 checkbox
*/
/* 모든 체크, 라디오박스 숨김 */
.survey_radio,.chk_circle2,.chk_long,.chk_short {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: table;
	width: 100%;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
		display: inline-block;
	}
	input:checked {
		position: absolute;
		top: 0px;
		left: 0px;
	}
}
/* 관심사 선택 */
.survey_radios {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	margin-top: 20px;
}
.survey_radio input:checked ~ .survey_radio_txt {
	color: $white;
	background: $LG-red-act;
}
.survey_radio_txt {
	display: table-cell;
	width: 100%;
	height: 100%;
	padding: 16px;
	color: $txt-main-b1;
	text-align: center;
	font-family : "LG_head";
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	background-color: $white;
	color: $txt-main-b1;
	border-radius: 10px;
}
/* 만족도 설문 survey 페이지 checkbox */
.example {
	margin-top: 20px;
	display: flex;
}
/* 원형 */
.chk_circle2_list {
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
}
.chk_circle2 {
	display: flex;
	width: auto;
}
.chk_circle2 input:checked ~ .chk_circle2_txt {
	color: $white;
	background: $LG-red-act;
	border: 1px solid $LG-red-act;
}
.chk_circle2_txt {
	display: table-cell;
	width: 48px;
	height: 48px;
	padding: 14px;
	text-align: center;
	font-family : "LG_head";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	background-color: $white;
	color: $txt-sub-b1;
	border: 1px solid $line_b;
	border-radius: 25px;
}
/* 세로로 긴 */
.chk_long_list {
	flex-direction: column;
	width: 100%;
	gap: 10px;
}
.chk_long input:checked ~ .chk_long_txt {
	color: $white;
	background: $LG-red-act;
	border: 1px solid $LG-red-act;
}
.chk_long_txt {
	display: table-cell;
	width: 100%;
	height: auto;
	padding: 16px;
	text-align: center;
	font-family : "LG_head";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	background-color: $white;
	color: $txt-main-b1;
	border: 1px solid $line_b;
	border-radius: 10px;
}
.chk_short_list {
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	gap: 10px;
}
.chk_short {
	width: calc(50% - 5px);
}
.chk_short input:checked ~ .chk_short_txt {
	color: $white;
	background: $LG-red-act;
	border: 1px solid $LG-red-act;
}
.chk_short_txt {
	display: table-cell;
	width: 100%;
	height: auto;
	padding: 16px;
	text-align: center;
	font-family : "LG_head";
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	background-color: $white;
	color: $txt-main-b1;
	border: 1px solid $line_b;
	border-radius: 10px;
}