@charset "UTF-8";
/* APPLICATION 
------------------------------------------------------------------------*/
/* 레이아웃 */
/*
login
*/
.main_login {
  width: 100%;
  height: 100%;
  margin: 0;
  background: url("../image/bg_login.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.login_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 520px;
  margin: 0 auto;
}
.login_container .logo {
  padding-top: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_container h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  line-height: 130%;
  padding: 80px 0;
}
.input_login {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input_login label {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 8px;
}
.input_login input {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: transparent;
  color: #fff;
}
.input_login input:focus {
  border: 1px solid #fff;
  color: #fff;
}
.input_login input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.1);
}
.input_login input::placeholder {
  color: rgba(255, 255, 255, 0.1);
}
.input_login input.input_warning {
  border-color: #FD312E;
}

.btn_login {
  margin-top: 20px;
  width: 100%;
  font-weight: 400;
  height: 48px;
  line-height: 48px;
}
.btn_login::after {
  content: "";
  background-image: url("../image/icn_btn_next.svg");
  display: inline-block;
  width: 20px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 8px;
  position: relative;
}
.btn_login:disabled {
  background-color: #716F6A;
}

/* 비밀번호 입력 */
.pw_eye {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../image/icn_eye_off.svg") no-repeat center;
  position: absolute;
  bottom: 14px;
  right: 16px;
}

.pw_eye.pw_eye_on {
  background-image: url("../image/icn_eye_on.svg");
}

.warning_text {
  color: #FD312E;
  font-size: 14px;
  font-weight: 300;
}

/* 
adm 속성 공통
*/
.adm_top_title {
  display: inline-block;
  width: 98px;
  margin-right: 20px;
  color: #000;
  font-size: 22px;
  font-weight: 700;
}

.bg_w_title {
  color: #000;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

/* dashboard 대시보드 */
.dash_numboard {
  display: flex;
  flex-direction: row;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.dash_numboard .today_total {
  display: flex;
  flex-direction: row;
  min-width: 258px;
  width: calc(25% - 15px);
  padding: 8px;
  align-items: center;
}
.dash_numboard .today_total .total_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-align: center;
  width: 50%;
}
.dash_numboard .today_total .total_info .date {
  font-size: 15px;
  font-weight: 700;
  line-height: normal;
}
.dash_numboard .today_total .total_info .people {
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}
.dash_numboard .today_total .total_info .count {
  color: #FD312E;
  font-size: 39px;
  font-weight: 700;
  line-height: normal;
}
.dash_numboard .today_total .total_line {
  background: rgba(0, 0, 0, 0.1);
  width: 1px;
  height: 90%;
}

@media (max-width: 1550px) {
  .dash_numboard .today_total .total_info .date {
    font-size: 13px;
  }
  .dash_numboard .today_total .total_info .people {
    font-size: 13px;
  }
  .dash_numboard .today_total .total_info .count {
    font-size: 34px;
  }
}
@media (max-width: 1430px) {
  .dash_numboard .today_total {
    min-width: 0;
    width: calc(33% - 10px);
  }
  .dash_numboard .today_total .total_info .date {
    font-size: 12px;
  }
  .dash_numboard .today_total .total_info .people {
    font-size: 12px;
  }
  .dash_numboard .today_total .total_info .count {
    font-size: 30px;
  }
}
@media (max-width: 1100px) {
  .dash_numboard .today_total {
    min-width: 230px;
  }
  .dash_numboard .today_total .total_info .date {
    font-size: 12px;
  }
  .dash_numboard .today_total .total_info .people {
    font-size: 12px;
  }
  .dash_numboard .today_total .total_info .count {
    font-size: 30px;
  }
}
.dash_graph_wrap {
  align-items: flex-start;
}

.canvas_wrap {
  position: relative;
  padding: 20px 30px 60px;
  box-sizing: border-box;
  width: 100%;
  height: 400px;
}

.chart-legend {
  position: relative;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 100%;
  text-align: center;
}

.chart-legend ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 20px;
}

.chart-legend li {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  width: auto;
}

.chart-legend li + li {
  margin-left: 10px;
}

.chart-legend li span {
  width: 18px;
  height: 3px;
  display: inline-block;
  margin-right: 3px;
}

.dash_table_wrap {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: flex-start;
  flex-wrap: wrap;
}
.dash_table_wrap .half {
  display: flex;
  flex-direction: column;
  width: 49%;
  min-width: 500px;
  gap: 20px;
}

/*
topsch_area
*/
.topsch_area > .flex_column {
  gap: 20px;
}
.topsch_area .chk_wrap {
  display: flex;
  padding: 10px 30px;
  flex-wrap: wrap;
  gap: 12px;
}
.topsch_area .chk_wrap .chk {
  padding: 5px 10px;
}

.date_sch_wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}
.date_sch_wrap .btn {
  margin-left: 15px;
}

.channel_row .adm_top_title {
  width: 74px;
}
.channel_row .chk_wrap {
  min-width: 535px;
}

.age_row .flex_column {
  width: auto;
  gap: 10px;
}
.age_row .flex_row {
  width: auto;
  flex-wrap: wrap;
  row-gap: 10px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

/*
adm_table_wrap style
*/
/* table_top */
.adm_table_wrap {
  position: relative;
}

.adm_table_top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}
.adm_table_top .table_total {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px; /* 160% */
}

.adm_table_cont {
  width: 100%;
  padding: 0 20px 20px 20px;
  overflow-x: auto;
  overflow-x: auto;
  margin-bottom: 59px;
  height: 37vh;
  height: calc(100dvh - 575px);
}
.adm_table_cont table {
  width: 100%;
  overflow-x: visible;
}

.adm_table_bottom {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: white;
  border-radius: 0 0 8px 8px;
  text-align: right;
  font-size: 0;
  padding: 10px 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* 테이블 세로 높이 다른 경우 */
.no_sch .left {
  gap: 20px;
}
.no_sch .adm_table_cont {
  height: 76vh;
  height: calc(100dvh - 305px);
}

.date_sch .adm_table_cont {
  height: 69vh;
  height: calc(100dvh - 395px);
}

.plus_sch .adm_table_cont {
  height: 30vh;
  height: calc(100dvh - 645px);
}

.survey_q {
  padding-top: 20px;
}

.survey_q_title {
  color: #262626;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 20px;
}

.adm_table_cont_survey_t {
  margin-bottom: 0;
  height: auto;
}

.adm_table_cont_survey_t .adm_table_top {
  padding-left: 0;
  padding-right: 0;
}

.adm_table_cont_survey_t .scrollbar {
  overflow-x: auto;
  overflow-x: auto;
  padding-bottom: 10px;
}

table.adm_table tr th.round_tlr0,
table.adm_table tr td.round_tlr0 {
  border-top-left-radius: 0;
}

table.adm_table tr th.round_trr0,
table.adm_table tr td.round_trr0 {
  border-top-right-radius: 0;
}

table.adm_table tr th.round_blr0,
table.adm_table tr td.round_blr0 {
  border-bottom-left-radius: 0;
}

table.adm_table tr th.round_brr0,
table.adm_table tr td.round_brr0 {
  border-bottom-right-radius: 0;
}

table.adm_table tr td.line_l {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

table.adm_table tr td.line_r {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

table.adm_table tr td.line_b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

table.adm_table tr th.line_l {
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

table.adm_table tr th.line_r {
  border-right: 1px solid rgba(0, 0, 0, 0.15);
}

table.adm_table tr th.line_b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

table.adm_table tr th.line_t {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* 
table.adm_table tr th.gray_bg.line_r {
	border-right: 1px solid rgba(0, 0, 0, 0.1);
}
*/
table.adm_table tr th.line_b0,
table.adm_table tr td.line_b0 {
  border-bottom: 0;
}

table.adm_table tr th.gray_bg,
table.adm_table tr td.gray_bg {
  background: #F4F4F4;
}

table.adm_table.survey_table tr th, table.adm_table.survey_table tr td {
  min-width: 100px;
}

table.adm_table.survey_table tr:first-child th:first-child {
  min-width: 255px;
}

table.adm_table.survey_table tr:last-child td {
  border-bottom: 0;
  background-color: #F4F4F4;
  border-top: 2px solid #f4f4f4;
}

.survey_q2 table.adm_table.survey_table tr:last-child td:first-child {
  border-radius: 0px;
}

.survey_q2 table.adm_table.survey_table tr:last-child td:last-child {
  border-radius: 0px;
  border-right: 0px solid rgba(0, 0, 0, 0.1);
}

/*
adm_form_wrap style
*/
.adm_form_wrap {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 40px;
}
.adm_form_wrap form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.adm_form_top.right {
  gap: 20px;
}

.input_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 60px;
  border-radius: 8px;
}

.bg_gray {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #F4F4F4;
}

.bg_beige {
  background: #F0ECE4;
}

.input_row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
}
.input_row h4 {
  width: 120px;
  display: inline-block;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  height: 50px;
  line-height: 50px;
}
.input_row input, .input_row textarea {
  width: calc(100% - 160px);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  padding-left: 20px;
  padding-right: 20px;
}
.input_row input::-moz-placeholder, .input_row textarea::-moz-placeholder {
  color: #716F6A;
}
.input_row input::placeholder, .input_row textarea::placeholder {
  color: #716F6A;
}
.input_row input:disabled, .input_row textarea:disabled {
  background-color: rgba(255, 255, 255, 0.4);
}
.input_row .chk {
  padding: 8px;
  margin-right: 24px;
}
.input_row input.input_date {
  width: 220px;
  padding-left: 40px;
}
.input_row .upload {
  padding-left: 20px;
  padding-right: 20px;
}
.input_row .upload:disabled {
  width: 100%;
}
.input_row .upload:disabled ~ label {
  display: none;
}
.input_row .linkbox {
  width: calc(100% - 160px);
}
.input_row .linkbox input {
  width: 100%;
}
.input_row h5 {
  width: 100px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
}

.date_sch_wrap {
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}
.date_sch_wrap .btn {
  margin-left: 15px;
}
.date_sch_wrap select {
  background: #fff url("../image/icn-rr-calendar.svg") no-repeat 12px center;
  padding-left: 40px;
  border: 1px solid #fff;
}

/*
adm_sortable style
*/
.adm_sortable {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.adm_sortable .ui-state-default {
  cursor: pointer;
}
.adm_sortable .ui-state-default::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 16px;
  height: 16px;
  background-image: url("../image/icn_list-change.svg");
  z-index: 1;
}
.adm_sortable .ui-sortable-helper .input_box {
  border: 1px solid #262626;
  box-shadow: 0px 2px 20px gray;
}
.adm_sortable .ui-state-highlight {
  color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.1);
}
.adm_sortable .btn {
  margin-left: auto;
}

/*
etc
*/
.about_floor {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.time_sch_wrap {
  display: flex;
  gap: 5px;
  align-items: center;
}
.time_sch_wrap select {
  background: #fff no-repeat;
  background-image: url("../image/icn_time.svg"), url("../image/icn_dropdown.svg");
  background-position: 16px center, 205px center;
  padding-left: 46px; /* 왼쪽 아이콘에 대한 여백 조정 */
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 240px;
  text-align: left;
  height: 50px;
}
.time_sch_wrap select:disabled {
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url("../image/icn_time.svg");
  background-position: 16px center;
}
.time_sch_wrap option {
  padding: 0;
  text-align: left;
}

.channel_box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.channel_box .link_box {
  width: calc(100% - 280px);
  min-width: 200px;
}
.channel_box .link_box input {
  width: 100%;
}
.channel_box .chk {
  margin-right: 0;
  margin-left: 20px;
}

.about_top .flex_column {
  width: calc(100% - 160px);
  gap: 10px;
}

.banner_section ul {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.banner_section .adm_sortable {
  gap: 40px;
}

.adm_table_cont.adm_table_cont_obs {
  margin-bottom: 0;
  height: auto;
}

/* scroll_dim 
.scroll_dim {
	display: block;
    position: absolute;
    top: 0;
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
    right: 0;
    width: 10%;
    height: 100%;
}*/
/* 반응형 추가 조절 */
@media (max-width: 1620px) {
  input {
    font-size: 13px;
    width: 150px;
  }
  .adm_top_title {
    font-size: 19px;
    width: 70px;
  }
  .dash_graph_wrap .bg_w {
    width: calc(100% - 95px) !important;
  }
  .channel_row .adm_top_title {
    width: 50px;
  }
  .channel_row .chk_wrap {
    min-width: 515px;
  }
  .chkText {
    font-size: 14px;
  }
  .topsch_area > .flex_column {
    gap: 16px;
  }
  .age_row .flex_column {
    gap: 5px;
  }
  .age_row .flex_row {
    row-gap: 5px;
  }
  .adm_table_top .table_total {
    font-size: 18px;
  }
}
/*
베트남어 css 이슈
*/
html[lang=vi] body * {
  font-family: "Noto Sans", "Spoqa", sans-serif;
}
html[lang=vi] .btn {
  min-width: 105px;
}
html[lang=vi] .adm_menulist li, html[lang=vi] .adm_menulist_sub li a {
  letter-spacing: -0.02rem;
}
html[lang=vi] .adm_menulist {
  padding-left: 0;
}
html[lang=vi] .adm_top_title {
  width: 125px;
}
html[lang=vi] table.adm_table th, html[lang=vi] table.adm_table td {
  padding: 20px 5px;
}
html[lang=vi] table.adm_table col:first-child, html[lang=vi] table.adm_table th:first-child, html[lang=vi] table.adm_table td:first-child {
  width: 100px !important;
  min-width: 80px !important;
}
html[lang=vi] table.adm_table col:nth-child(3) {
  width: auto !important;
}
html[lang=vi] .dashboard_section table col:nth-child(2) {
  width: auto !important;
}
html[lang=vi] .topsch_area .chk_wrap #m01_scent_7_label {
  width: 100%;
}/*# sourceMappingURL=admin.css.map */